html, body{
	font-size:16px;
	color: #333;
	background-color: #f8f6f3;
}

a {
  color: #0969da;
}

a:hover {
  color: #0550ae;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #f8f6f3;
}

.section-2 {
	background-color: #f8f6f3;
}

.section-4 {
	background-color: #f8f6f3;
	padding: 0.2rem;
}

a.nav-item {
	color: #333;
}

a.nav-item:hover {
	color: #000;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-text {
	text-align: justify;
}

.project-text .title.is-5 {
	margin-bottom: 0.5rem;
	color: #333;
}

.project-text a[href*="github"] {
	color: #0969da;
	display: inline-block;
	margin-top: 0.5rem;
	font-weight: 500;
}

.project-text a[href*="github"]:hover {
	text-decoration: underline;
}

.box {
	background-color: #fff;
	border: 1px solid #e8e6e3;
}

.title {
	color: #333;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
	color: #333;
}

.void-background {
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #f8f6f3;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #333;
	}

	.nav-toggle span:hover {
		background-color: #000;
	}

}
